<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <object th:insert="~{fragments/common :: css}" th:remove="tag"></object>
    <object th:insert="~{fragments/common :: js}" th:remove="tag"></object>
    <object
      th:insert="~{fragments/common :: datatable}"
      th:remove="tag"
    ></object>
    <title>Daftar Permintaan Pengiriman</title>
  </head>

  <body class="bg-[#111827]">
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>

    <div class="min-h-screen p-10">
      <div class="flex justify-between items-center px-5">
        <h2 class="font-bold text-white m-5 text-3xl">Daftar Permintaan Pengiriman</h2>
        <a
          th:href="@{/permintaan-pengiriman/tambah}"
          type="button"
          class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
        >+ Tambah Permintaan Pengiriman</a>
      </div>
      <div class="px-5">
        <hr class="my-3">
      </div>
      <div class="px-10 text-white mb-10">
        <table id="tablePermintaan" class="display">
          <thead class="font-bold">
            <tr>
              <th>#</th>
              <th>Waktu Permintaan</th>
              <th>Nomor Pengiriman</th>
              <th>Nama Penerima</th>
              <th>Alamat Penerima</th>
              <th>Tanggal Pengiriman</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="permintaan, iterStat : ${listPermintaan}">
              <td th:text="${iterStat.index + 1}"></td>
              <td th:text="${permintaan.waktuPermintaanFormatted}"></td>
              <td th:text="${permintaan.nomorPengiriman}"></td>
              <td th:text="${permintaan.namaPenerima}"></td>
              <td th:text="${permintaan.alamatPenerima}"></td>
              <td th:text="${permintaan.tanggalPengirimanFormatted}"></td>
              <td>
                <a
                  th:href="@{'/permintaan-pengiriman/' + ${permintaan.id}}"
                  type="button"
                  class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                  >Detail</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

    <script>
      $(document).ready(function () {
        const datatable = new DataTable("#tablePermintaan");
      });
    </script>
  </body>
</html>
