<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <object th:insert="~{fragments/common :: css}" th:remove="tag"></object>
    <object th:insert="~{fragments/common :: js}" th:remove="tag"></object>
    <title>Tambah Barang</title>
  </head>

  <body class="bg-[#111827]">
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>

    <div th:if="${error != null}" class="fixed top-5 left-1/2 transform -translate-x-1/2 z-10 rounded-xl overflow-hidden w-[40%]">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
      <div
        id="alert-1"
        class="flex gap-3 items-center p-4 my-2 rounded-lg bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 text-gray-800 mx-auto"
        role="alert"
      >
        <svg
          class="flex-shrink-0 w-4 h-4"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <p class="font-medium" th:text="${error}"></p>
        <button
          type="button"
          class="ml-auto -mx-1.5 -my-1.5 rounded-lg p-1.5 inline-flex items-center justify-center h-8 w-8 text-gray-800"
          data-dismiss-target="#alert-1"
          aria-label="Close"
        >
          <span class="sr-only">Close</span>
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
        </button>
      </div>
    </div>


    <div class="min-h-screen">
      <div
        class="mx-auto w-[70%] rounded-xl overflow-hidden border border-gray-500 mt-10"
      >
        <div class="text-center text-white p-3 bg-slate-800">
          <h1 class="text-2xl font-bold">Tambah Barang</h1>
        </div>
        <div class="mx-auto p-10">
          <form
            th:action="@{/barang/tambah}"
            th:object="${barangDTO}"
            method="POST"
          >
            <label for="merk" class="block mb-2 font-medium text-white"
              >Merk Barang</label
            >
            <input
              type="text"
              class="mb-5 border w-full text-sm rounded-lg block p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
              required
              th:field="*{merk}"
            />

            <label for="tipeBarang" class="block mb-2 font-medium text-white"
              >Tipe Barang</label
            >
            <select
              th:field="*{tipeBarang}"
              class="mb-5 border w-full text-sm rounded-lg block p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
            >
              >
              <option th:value="1">Produk Elektronik</option>
              <option th:value="2">Pakaian & Aksesoris</option>
              <option th:value="3">Makanan & Minuman</option>
              <option th:value="4">Kosmetik</option>
              <option th:value="5">Perlengkapan Rumah</option>
            </select>

            <label for="merk" class="block mb-2 font-medium text-white"
              >Harga</label
            >
            <input
              type="number"
              class="mb-5 border w-full text-sm rounded-lg block p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
              required
              th:field="*{harga}"
            />
            <div class="flex mx-auto justify-center gap-5 mt-5">
              <a
                th:href="@{/barang}"
                type="button"
                class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                >Batal</a
              >
              <button
                type="submit"
                class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
              >
                Simpan
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
  </body>
</html>
