<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <object th:insert="~{fragments/common :: css}" th:remove="tag"></object>
    <object th:insert="~{fragments/common :: js}" th:remove="tag"></object>
    <object
      th:insert="~{fragments/common :: datatable}"
      th:remove="tag"
    ></object>
    <title>Daftar Barang</title>
  </head>

  <body class="bg-[#111827]">
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>

    <div th:if="${successMessage != null}" class="fixed top-5 left-1/2 transform -translate-x-1/2 z-10 rounded-xl overflow-hidden w-[40%]">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
      <div
        id="alert-1"
        class="flex gap-3 items-center p-4 my-2 rounded-lg bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 text-gray-800 mx-auto"
        role="alert"
      >
        <svg
          class="flex-shrink-0 w-4 h-4"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <p class="font-medium" th:text="${successMessage}"></p>
        <button
          type="button"
          class="ml-auto -mx-1.5 -my-1.5 rounded-lg p-1.5 inline-flex items-center justify-center h-8 w-8 text-gray-800"
          data-dismiss-target="#alert-1"
          aria-label="Close"
        >
          <span class="sr-only">Close</span>
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
        </button>
      </div>
    </div>

    <div class="min-h-screen p-10">
      <div class="flex justify-between items-center px-5">
        <h2 class="font-bold text-white m-5 text-3xl">Daftar Barang</h2>
        <a
          th:href="@{/barang/tambah}"
          type="button"
          class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
        >+ Tambah barang</a>
      </div>
      <div class="px-5">
        <hr class="my-3">
      </div>
      <div class="px-10 text-white mb-10">
        <table id="tableBarang" class="display">
          <thead class="font-bold">
            <tr>
              <th>#</th>
              <th>SKU</th>
              <th>Merk</th>
              <th>Stok</th>
              <th>Harga</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="barangStok, iterStat : ${listBarangStok}">
              <td th:text="${iterStat.index + 1}"></td>
              <td th:text="${barangStok.key.sku}"></td>
              <td th:text="${barangStok.key.merk}"></td>
              <td th:text="${barangStok.value}"></td>
              <td th:text="'Rp ' + ${#numbers.formatDecimal(barangStok.key.harga, 0, 'COMMA', 2, 'POINT')}"></td>
              <td>
                <a
                  th:href="@{/barang/{sku}(sku=${barangStok.key.sku})}"
                  type="button"
                  class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                  >Detail</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <nav th:replace="~{fragments/footer :: footer}"></nav>

    <script>
      $(document).ready(function () {
        const datatable = new DataTable("#tableBarang");
      });
    </script>
  </body>
</html>
