<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <object th:insert="~{fragments/common :: css}" th:remove="tag"></object>
    <object th:insert="~{fragments/common :: js}" th:remove="tag"></object>
    <object
      th:insert="~{fragments/common :: datatable}"
      th:remove="tag"
    ></object>
    <title>Daftar Barang</title>
  </head>

  <body class="bg-[#111827]">
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>

    <div class="min-h-screen p-10">
      <div class="flex justify-between items-center px-5">
        <h2 class="font-bold text-white m-5 text-3xl">Daftar Barang</h2>
        <a
          th:href="@{/barang/tambah}"
          type="button"
          class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
        >+ Tambah barang</a>
      </div>
      <div class="px-10 text-white mb-10">
        <table id="tableBarang" class="display">
          <thead class="font-bold">
            <tr>
              <th>#</th>
              <th>SKU</th>
              <th>Merk</th>
              <th>Stok</th>
              <th>Harga</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="barang, iterStat : ${listBarang}">
              <td th:text="${iterStat.index + 1}"></td>
              <td th:text="${barang.sku}"></td>
              <td th:text="${barang.merk}"></td>
              <td th:text="0"></td>
              <td th:text="'Rp ' + ${#numbers.formatDecimal(barang.harga, 0, 'COMMA', 2, 'POINT')}"></td>
              <td>
                <a
                  th:href="@{/barang/{sku}(sku=${barang.sku})}"
                  type="button"
                  class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                  >Detail</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <nav th:replace="~{fragments/footer :: footer}"></nav>

    <script>
      $(document).ready(function () {
        const datatable = new DataTable("#tableBarang");
      });
    </script>
  </body>
</html>
