<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <object th:insert="~{fragments/common :: css}" th:remove="tag"></object>
    <object th:insert="~{fragments/common :: js}" th:remove="tag"></object>
    <object
      th:insert="~{fragments/common :: datatable}"
      th:remove="tag"
    ></object>

    <title>Cari Barang</title>
  </head>

  <body class="bg-[#111827]">
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>

    <div class="min-h-screen">
      <div class="text-center font-bold text-white m-5 text-2xl">
        <h2>Cari Barang</h2>
      </div>
      <div class="w-[40%] mx-auto">
        <form
          th:action="@{/gudang/cari-barang}"
          class="flex gap-5 mx-auto px-10"
        >
          <select
            id="sku"
            name="sku"
            class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
          >
            <div th:each="barang : ${listBarang}">
              <option
                th:value="${barang.sku}"
                th:text="${barang.merk}"
                th:selected="${barang.sku == selectedValue}"
              ></option>
            </div>
          </select>
          <button
            type="submit"
            class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
          >
            Cari
          </button>
        </form>
      </div>
      <div th:if="${listGudangBarang != null} ">
        <div class="px-10 text-white mb-10">
          <table id="tableCariBarang" class="display">
            <thead class="font-bold">
              <tr>
                <th>#</th>
                <th>Nama Gudang</th>
                <th>Alamat Gudang</th>
                <th>Stok</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="gudangBarang, iterStat : ${listGudangBarang}">
                <td th:text="${iterStat.index + 1}"></td>
                <td>
                  <a
                    th:href="@{'/gudang/' + ${gudangBarang.Gudang.id}}"
                    th:text="${gudangBarang.Gudang.nama}"
                    class="text-blue-100 hover:underline"
                  ></a>
                </td>

                <td th:text="${gudangBarang.Gudang.alamatGudang}"></td>
                <td th:text="${gudangBarang.stok}"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

    <script>
      $(document).ready(function () {
        const datatable = new DataTable("#tableCariBarang");
      });
    </script>
  </body>
</html>
